<div class="flex-col flex-one-fourth flex-vertical-one-fourth flex-tablet-full">
	<div class="navigation-sidebar">
		<div class="flex-row full-height middle-xs center-flex sidebar-inner">
			<div class="name">
					<h2>
						Gabriel Zarate
					<!-- 	<span>G</span>
						<span>a</span>
						<span>b</span>
						<span>r</span>
						<span>i</span>
						<span>e</span>
						<span>l</span>
						<span>&nbsp;</span>
						<span>Z</span>
						<span>a</span>
						<span>r</span>
						<span>a</span>
						<span>t</span>
						<span>e</span> -->
					</h2>
					<span class="sub-head">Front-End Developer</span>

					<div class="mobile-intro">
						<a href="/">Z</a>
					</div>
			</div>
		</div>
	</div>
</div>
