---
layout: default
---


<div class="home view">
  <div class="standard-section-padding home-section">
    <div class="container">

        <div class="section-head home">
            <h2 class="section-title">Recent Articles</h2>
            <span class="section-line" />
        </div>
        {{ content }}

         <div class="featured-articles post-list">
          {% for post in site.posts %}
            <div class="featured-article">
              <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>
          {% endfor %}
        </div>

        <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
      </div>
    </div>
</div>

